body {
    background-color: black;
    text-align: center;
    font-family: Verdana;
    color: white;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

.cta-link {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

p {
    font-size: 21px;
    color: gray;
}

video {
    width: 100%;
    height: auto;
    max-width: 400px; /* Adjust based on your needs */
    margin: 0 auto;
}

.features img {
    margin: 20px auto;
    display: block;
    max-width: 100%;
}

footer {
    text-align: right;
    color: gray;
}

.phone-demo, .features, .coming-soon {
    margin: 40px 0;
}